

 body, html {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
        }
        .navbar {
             position: fixed;
             top: 0;
             left: 0;
             width: 100%;
            background-color: hsla(183, 47%, 44%, 0.749);
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
            0 4px 8px rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            z-index: 999;
        }
        .navbar img {
            position: relative;
            height: 50px;
             border-radius: 10px;
              vertical-align: middle;
        }

        .navbar .name {
            position: absolute;
            color: #ffffff;
            font-size: 24px;
            font-weight: 800;
            margin-left: 25px;
            padding-left: 85px;
            vertical-align: middle;
        }

        .name span {
            color: hsl(183, 52%, 33%);
            font-size: 2rem;
            font-weight: 800;
        }
        .navbar ul {
            list-style: none;
            display: flex;
            margin: 0 auto;
            padding-left: 40px;
        }
        .navbar ul li {
            margin: 0 15px;
        }
        .navbar ul li a {
            color: hsl(0, 0%, 100%);
            text-decoration: none;
            font-size: 16px;
            transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
        }

        .navbar ul li a:hover {
            color: hsl(0, 0%, 100%);
            transform: translateY(-2px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
        }

        .navbar ul li a:hover::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: hsl(0, 0%, 100%);
            transform: scaleX(1);
            transition: transform 0.2s ease-in-out;
        }

        .navbar ul li a::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: hsl(0, 0%, 100%);
            transform: scaleX(0);
            transition: transform 0.2s ease-in-out;
        }
        .track-shipment {
            background-color: hsl(183, 52%, 33%);
            color: hsl(0, 0%, 100%);
            padding: 10px 30px;
            margin-right: 40px;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
        }
       .slider {
           position: relative;
           width: 100%;
           height: 90vh;
           overflow: hidden;
           top: 75px;
       }

       .slides {
           position: relative;
           width: 100%;
           height: 100%;
       }

       .slide {
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           display: none;
       }

       .slide video {
           width: 100%;
           height: 100%;
           object-fit: cover;
           object-position: center;
       }
       .slide img {
           width: 100%;
           height: 100%;
           object-fit: cover;
           object-position: center;
       }

       .slide.active {
           display: block;
       }
        .hero-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
        }
        .hero-text h1 {
            font-size: 5rem;
            margin: 0;
            /* color: hsla(183, 47%, 44%, 0.74); */
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px #ffffff;
            font-weight: 900;
            text-align: left;
            white-space: nowrap;
        }
        .hero-text p {
            font-size: 2.5rem;
            margin: 10px 0 0;
            color: hsl(0, 0%, 100%);
            font-weight: 700;
            text-align: justify;
        }
        /* .chat-button {
            position: absolute;
            bottom: 20px;
            right: 20px;
            display: flex;
            align-items: center;
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .chat-button img {
            height: 40px;
            margin-right: 10px;
        }
        .chat-button span {
            color: #004d00;
        }
        .chat-button span a {
            color: #004d00;
            font-weight: bold;
            text-decoration: none;
        } */
        .prev, .next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 15px;
            cursor: pointer;
            border-radius: 50%;
        }
        .prev {
            left: 20px;
        }
        .next {
            right: 20px;
        }
        .pagination {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
        }
        .pagination div {
            width: 12px;
            height: 12px;
            background-color: white;
            margin: 0 5px;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .pagination .active {
            background-color: #34e35a;
        }
        .pagination div:hover {
            background-color: #0e7b36;
        }