* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.dashboard-container {
    display: flex;
    width: 100%;
    transition: left 0.3s;
    margin-left: 20vw;
}

.sidebar {
    width: 20vw;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.sidebar h2 {
    margin: 0 0 20px;
    font-size: 1.5rem;
    color: #333;
}

.logout-container {
    margin-top: auto;
    padding: 10px;
}

.logout {
    color: red;
    text-decoration: none;
     position: relative;
     transition: color 0.3s ease;
}

.logout:hover {
    color: darkred;
}

/* Adding a modern underline effect using a pseudo-element */
.logout::after {
    content: '';
    display: block;
    height: 2px;
    background: red;
    width: 0;
    transition: width 0.3s ease;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.logout:hover::after {
    width: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #e0e0e0;
    color: #27a357;
}

/* Active tab styling */
.sidebar ul li a.active {
    background-color: #27a357;
    color: white;
}

.toggle-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 20px;
}

.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

.dialog-content h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

.dialog-content h3 {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
}

.dialog-content button {
    background-color: #27a357;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.dialog-content button:hover {
    background-color: #22904c;
}

.hidden {
    display: none;
}

header {
    padding: 20px;
    background-color: #3e9a799a;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 20vw;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: left 0.3s;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
     0 4px 8px rgba(0, 0, 0, 0.3);
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
}

main {
    padding: 20px;
    flex: 3;
    margin-top: 7vw;
    transition: margin-left 0.3s;
}

/* Optional: Style for hiding the sidebar */
.sidebar.collapsed {
    width: 7vw;
}

.sidebar.collapsed ul {
    display: none;
}

.sidebar.collapsed h2 {
    display: none;
}

#closeIcon {
    display: none;
    color: hsl(0, 0%, 15%);
}

#openIcon {
    display: inline;
    color: hsl(0, 0%, 15%);
}

 header h1 {
    margin-bottom: 20px;
    color: hsl(183, 52%, 33%);
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: hsl(183, 52%, 33%);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(183, 52%, 40%);
}

.upload-section,
.tracking-update-section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 8px;
    text-align: center;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-section h2 {
    color: hsl(183, 52%, 33%);
    /* Main heading color */
    margin-bottom: 20px;
    /* Space below heading */
    font-size: 1.8rem;
    /* Font size for heading */
}

.upload-container {
    display: flex;
    /* Flexbox for alignment */
    flex-direction: column;
    /* Stack elements vertically */
    align-items: center;
    /* Center items */
}

.upload-container input[type="file"],
.upload-container input[type="text"] {
    padding: 10px;
    /* Padding for input */
    border: 2px dashed hsl(183, 52%, 33%);
    /* Dashed border */
    border-radius: 4px;
    /* Rounded corners */
    width: 80%;
    /* Width of the input */
    margin-bottom: 15px;
    /* Space below input */
    transition: border-color 0.3s;
    /* Transition for border color */
}

.upload-container input[type="file"]:hover,
.upload-container input[type="text"]:hover {
    border-color: hsl(183, 79%, 24%);
    /* Darker border on hover */
}

.upload-container button {
    background-color: hsl(183, 52%, 33%);
    /* Button background color */
    color: white;
    /* Button text color */
    padding: 10px 20px;
    /* Padding for button */
    border: none;
    /* No border */
    border-radius: 4px;
    /* Rounded corners */
    cursor: pointer;
    /* Pointer cursor */
    transition: background-color 0.3s;
    /* Transition for background color */
    font-size: 1rem;
    /* Font size for button */
}

.upload-container button:hover {
    background-color: hsl(183, 79%, 24%);
    /* Darker background on hover */
}

.customer-section {
    margin-top: 20px;
    padding: 15px;
    background-color: #e9ecef;
    border-radius: 8px;
}

.customer-section input,
.customer-section textarea {
    margin-bottom: 10px;
}

#uploadTable {
    width: 100%;
    /* Make the table take the full width of the container */
    border-collapse: collapse;
    /* Collapse borders for a cleaner look */
}

#uploadTable th,
#uploadTable td {
    padding: 10px;
    /* Add padding for better spacing */
    text-align: left;
    /* Align text to the left */
    border: 1px solid #ccc;
    /* Add a border to the cells */
}

#uploadTable th {
    background-color: hsl(183, 52%, 33%);
    /* Background color for headers */
    color: white;
    /* Text color for headers */
}

#uploadTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Alternate row color for better readability */
}


/* Modal Styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/ opacity */
}

.modal-content {
    margin: 10% auto;
    /* Center the modal vertically and horizontally */
    padding: 20px;
    background-color: #e9ecef;
    /* Same background as upload section */
    border-radius: 8px;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    width: 70%;
    /* Set the width to 70% of the viewport */
    max-width: 800px;
    /* Optional: Set a maximum width for larger screens */
    text-align: center;
    /* Center text */
}

.modal-content h2 {
    color: hsl(183, 52%, 33%);
    /* Main heading color */
    margin-bottom: 20px;
    /* Space below heading */
    font-size: 1.8rem;
    /* Font size for heading */
}

.upload-container {
    display: flex;
    /* Flexbox for alignment */
    flex-direction: column;
    /* Stack elements vertically */
    align-items: center;
    /* Center items */
}

.upload-container input[type="file"],
.upload-container input[type="text"] {
    padding: 10px;
    /* Padding for input */
    border: 2px dashed hsl(183, 52%, 33%);
    /* Dashed border */
    border-radius: 4px;
    /* Rounded corners */
    width: 80%;
    /* Width of the input */
    margin-bottom: 15px;
    /* Space below input */
    transition: border-color 0.3s;
    /* Transition for border color */
}

.upload-container input[type="file"]:hover,
.upload-container input[type="text"]:hover {
    border-color: hsl(183, 79%, 24%);
    /* Darker border on hover */
}

#updateButton {
    margin-bottom: 10px;
    padding: 10px 30px;
    font-size: 1.1rem;
}
.upload-container button {
    background-color: hsl(183, 52%, 33%);
    /* Button background color */
    color: white;
    /* Button text color */
    padding: 10px 20px;
    border: none;
    /* No border */
    border-radius: 4px;
    /* Rounded corners */
    cursor: pointer;
    /* Pointer cursor */
    transition: background-color 0.3s;
    /* Transition for background color */
    font-size: 1rem;
    /* Font size for button */
}

.upload-container button:hover {
    background-color: hsl(183, 79%, 24%);
    /* Darker background on hover */
}

.close-button {
    color: #aaa;
    /* Gray color */
    float: right;
    /* Float to the right */
    font-size: 28px;
    /* Font size */
    font-weight: bold;
    /* Bold */
}

.close-button:hover,
.close-button:focus {
    color: black;
    /* Change color on hover */
    text-decoration: none;
    /* No underline */
    cursor: pointer;
    /* Pointer cursor */
}

#openUpdateModal {
    margin-bottom: 10px;
    padding: 10px 30px;
    font-size: 1.1rem;
}


/* Modal Styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/ opacity */
}

.modal-content {
    margin: 10% auto;
    /* Center the modal vertically and horizontally */
    padding: 20px;
    background-color: #e9ecef;
    /* Same background as upload section */
    border-radius: 8px;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    width: 70%;
    /* Set the width to 70% of the viewport */
    max-width: 800px;
    /* Optional: Set a maximum width for larger screens */
    text-align: center;
    /* Center text */
}

.modal-content h2 {
    color: hsl(183, 52%, 33%);
    /* Main heading color */
    margin-bottom: 20px;
    /* Space below heading */
    font-size: 1.8rem;
    /* Font size for heading */
}

.update-container {
    display: flex;
    /* Flexbox for alignment */
    flex-direction: column;
    /* Stack elements vertically */
    align-items: center;
    /* Center items */
}

.update-container input[type="text"],
.update-container input[type="date"],
.update-container textarea {
    padding: 10px;
    /* Padding for input */
    border: 2px dashed hsl(183, 52%, 33%);
    /* Dashed border */
    border-radius: 4px;
    /* Rounded corners */
    width: 80%;
    /* Width of the input */
    margin-bottom: 15px;
    /* Space below input */
    transition: border-color 0.3s;
    /* Transition for border color */
}

.update-container input[type="text"]:hover,
.update-container input[type="date"]:hover,
.update-container textarea:hover {
    border-color: hsl(183, 79%, 24%);
    /* Darker border on hover */
}

.update-container button {
    background-color: hsl(183, 52%, 33%);
    /* Button background color */
    color: white;
    /* Button text color */
    padding: 10px 20px;
    /* Padding for button */
    border: none;
    /* No border */
    border-radius: 4px;
    /* Rounded corners */
    cursor: pointer;
    /* Pointer cursor */
    transition: background-color 0.3s;
    /* Transition for background color */
    font-size: 1rem;
    /* Font size for button */
}

.update-container button:hover {
    background-color: hsl(183, 79%, 24%);
    /* Darker background on hover */
}

.close-button {
    color: #aaa;
    /* Gray color */
    float: right;
    /* Float to the right */
    font-size: 28px;
    /* Font size */
    font-weight: bold;
    /* Bold */
}

.close-button:hover,
.close-button:focus {
    color: black;
    /* Change color on hover */
    text-decoration: none;
    /* No underline */
    cursor: pointer;
    /* Pointer cursor */
}

#shipmentTable {
    width: 100%;
    /* Make the table take the full width of the container */
    border-collapse: collapse;
    /* Collapse borders for a cleaner look */
    margin-top: 20px;
    /* Space above the table */
}

#shipmentTable th,
#shipmentTable td {
    padding: 10px;
    /* Add padding for better spacing */
    text-align: left;
    /* Align text to the left */
    border: 1px solid #ccc;
    /* Add a border to the cells */
}

#shipmentTable th {
    background-color: hsl(183, 52%, 33%);
    /* Background color for headers */
    color: white;
    /* Text color for headers */
}

#shipmentTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Alternate row color for better readability */
}

#shipmentTable tbody tr:hover {
    background-color: #e0e0e0;
    /* Highlight row on hover */
}

/* Client */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#clientTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#clientTable th,
#clientTable td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

#clientTable th {
    background-color: hsl(183, 52%, 33%);
    color: white;
}

#clientTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#clientTable tbody tr:hover {
    background-color: #e0e0e0;
}


/* Tracking code generator */
.tracking-code-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#trackingCodeInput {
    flex: 1;
    padding: 10px;
    border: 2px solid hsl(183, 52%, 33%);
    border-radius: 4px;
    margin-right: 10px;
}

#generateTrackingCodeButton {
    background-color: hsl(183, 52%, 33%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#generateTrackingCodeButton:hover {
    background-color: hsl(183, 79%, 24%);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination-button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}


/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .sidebar {
        width: 15vw;
    }

    .dashboard-container {
        margin-left: 15vw;
    }

    header {
        left: 15vw;
    }
}

@media (max-width: 992px) {
    .sidebar {
        width: 25vw;
    }

    .dashboard-container {
        margin-left: 25vw;
    }

    header {
        left: 25vw;
    }

    .sidebar.collapsed {
        width: 10vw;
    }

    .sidebar.collapsed ul {
        display: none;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative
    }

    .dashboard-container {
        margin-left: 0;
        flex-direction: column;
    }

    header {
        left: 0;
        width: 100%;
    }

    .sidebar.collapsed {
        width: 100%;
    }

    .sidebar.collapsed ul {
        display: block;
    }

    .toggle-button {
        font-size: 18px;
    }

    .upload-container input[type="file"],
    .upload-container input[type="text"],
    .update-container input[type="text"],
    .update-container input[type="date"],
    .update-container textarea {
        width: 90%;
    }

    .modal-content {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .sidebar h2 {
        font-size: 1.2rem;
    }

    .sidebar ul li a {
        padding: 8px 10px;
    }

    .dialog-content h2 {
        font-size: 1.5rem;
    }

    .dialog-content h3 {
        font-size: 1rem;
    }

    .upload-section h2 {
        font-size: 1.5rem;
    }

    .upload-container button,
    .update-container button {
        padding: 8px 15px;
        font-size: 0.9rem;
    }

    .close-button {
        font-size: 24px;
    }
}


/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    background-color: hsl(183, 52%, 33%);
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e0e0e0;
}

/* Responsive Table */
@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        /* Enable horizontal scrolling */
        white-space: nowrap;
        /* Prevent text wrapping */
    }

    th,
    td {
        display: inline-block;
        /* Stack cells */
        min-width: 120px;
        /* Set a minimum width for cells */
    }
}